form {
  display: flex;

  mat-form-field {

    &:not(:last-child) {
      margin-right: 16px;
      max-width: 300px;
    }

    &:last-child {
      width: 100%;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
