<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
    <mat-cell *matCellDef="let element"><span>{{ element.id }}</span></mat-cell>
  </ng-container>

  <ng-container matColumnDef="int">
    <mat-header-cell *matHeaderCellDef>Int</mat-header-cell>
    <mat-cell *matCellDef="let element"><span>{{ element.int }}</span></mat-cell>
  </ng-container>

  <ng-container matColumnDef="float">
    <mat-header-cell *matHeaderCellDef>Float</mat-header-cell>
    <mat-cell *matCellDef="let element"><span>{{ element.float }}</span></mat-cell>
  </ng-container>

  <ng-container matColumnDef="color">
    <mat-header-cell *matHeaderCellDef>Color</mat-header-cell>
    <mat-cell
      *matCellDef="let element"
      [style]="{ backgroundColor: element?.color }"
    ><span>{{ element?.color }}</span></mat-cell
    >
  </ng-container>

  <ng-container matColumnDef="child">
    <mat-header-cell *matHeaderCellDef>Child</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-table [dataSource]="element.child">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
          <mat-cell *matCellDef="let element"><span>{{ element.id }}</span></mat-cell>
        </ng-container>
        <ng-container matColumnDef="color">
          <mat-header-cell *matHeaderCellDef>Color</mat-header-cell>
          <mat-cell
            *matCellDef="let element"
            [style]="{ backgroundColor: element.color }"
          ><span>{{ element.color }}</span></mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumnsChild"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsChild"></mat-row>
      </mat-table>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

